.create-form {
    display: flex;
    flex-direction: column;
    background-color: $egg-blue;
    min-width: 295px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }
  
  .create-container {
    height: 70vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid black;
    margin-block: 30px;
    background-color: $egg-blue;
    box-shadow: 10px 10px 8px black;
    border-radius: 5px;

  }
  
  .create-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: $egg-blue;
  }
  
  .create-button {
    width: 150px;
    height: 45px;
    border-radius: 3px;
    font-size: 16px;
    background-color: $egg-blue;
    border: 1px solid $bg;
    &:hover {
      background-color: $bg;
    }
  }
  
  .create-title {
    margin-top: 0;
    background-color: $egg-blue;
  }

  .topic-title {
    width:500px;
  }

  #message-box {
    color: black;
    height: 160px;
    width: 500px;
    resize:none;
    border-radius: 5px;
    }

  .topic-url {
    width: 500px;
  }

  