

.comment-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  margin-block: 30px;
  width: 1000px;
  text-align: center;
  box-shadow: 10px 10px 8px black;
  background-color: $egg-blue;
}

.comment-box {
  width: 700px;
  padding-inline: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: $egg-blue;
  margin-block: 5px;
  box-shadow: 6px 6px 4px black;
  font-size: 18px;
  text-align: start;
  margin-bottom: 10px;
}

.delete, .update {
  margin-bottom: 25px;
  background-color: $bg;
  margin-inline: 2px;
  width: 115px;
  height: 40px;
  
}

.submit {
  background-color: $bg;
}

.edit, .cancel {
  background-color: $bg;
  width: 100px;
}

.created-by-on {
  .createdBy {
    font-size: 12px;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-end;
  }
  .createdOn {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .comment {
    display: flex;
    justify-content: flex-start;
  }
}

.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  .comment-error {
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    background-color: red;
  }
  .post-comment {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    color: black;
  }
}
.image {
  max-width: 300px;
}

.delete {
  height:40px;
}

button {
  background: grey;
}

.comment-like {
  width: 400px;
  height: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.topic-header {
  border-radius: 5px;
}

.comment-form {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: $egg-blue;
  box-shadow: 10px 10px 8px black;
  width: 700px;
  padding: 20px;
  border-radius: 5px;
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}

.text-area {
  color: black;
  
}

.topic-date {
  display: flex;
  justify-content: space-between;
  text-align: end;
}