@import './variables';

.footer-main {
  background-color: $egg-blue;
}


.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: $egg-blue;
  width: 100vw;
  height:10vh;
  text-align: center;
  p {
    background-color: $egg-blue;
    text-align: center;
  }
  
}

.Mark {
  background-color: $egg-blue;
  display: flex;
  flex-direction: column;
  
}
.Rokas {
  background-color: $egg-blue;
}
.Veronica {
  background-color: $egg-blue;
}

.Logo {
  Height: 30px;

}