@import './variables';

// pages
@import './navbar.scss';
@import './TopicPage.scss';
@import './Footer.scss';
@import './Register.scss';
@import './Login.scss';
@import './CommentPage.scss';
@import './components/CreateTopicPage.scss';
@import './home.scss';
@import './components/notFound.scss';


* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  background-color: $bg;
  width: 100vw;
  position: relative;
}

@media screen and (max-width: 992px) {
.banner {
  font-size: 60px;
}

.view {
  min-height: 100vh - 16vh - 20vh;
}

.topic-container {
  max-width: 800px;
}

.footer-main {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-header {
  min-width: 100vw;
}
.footer-main{
  min-width: 100vw;
}
}