@import './variables.scss';

.navbar {
  background-color: $egg-blue;
  min-width: 350px;
  .navbar-brand {
    font-size: 60px;
  }
  .nav-link {
    margin-inline: 10px;
    display: flex;
    justify-content: flex-end;
  }
}