.topic-div {
  display: flex;
  justify-content: center;
}
.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: calc(100% - 60px);
}
.search-topics {
  display: flex;
  flex-direction: column;
}

.topic {
  display: flex;
  justify-content: center;
  background-color: $egg-blue;
  width:800px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 10px 10px 8px black;
  border-radius: 5px;
  .topic-text {
    background-color: $egg-blue;
  }
  .topic-date {
    background-color: $egg-blue;
    color: black;
    text-align: center;
    padding-bottom: 5px;
  }
  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 480px;
    background-color: $egg-blue;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    background-color: $egg-blue;
  }
.description {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $egg-blue;
  font-size: 18px;
  height: 190px;
  width: 480px;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  background-color: $egg-blue;
  overflow-wrap: break-word;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 3px;
  max-width: 300px;
  max-height: 300px;
  background-color: $egg-blue;


}
}
.topic-image {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: $egg-blue;
  background-image: url(./images/No-image.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  width:300px;
}


.topic-like {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $egg-blue;
  height:30px;
  p {
  background-color: $egg-blue;
  }
}

.topic-button {
  background-color: $bg;
}

a {
  text-decoration: none;
  color: white;
}